#trash-bin {
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 45px;
  height: 58px;
  background-image: url('imgs/Bin_2_small.png');
  background-size: contain;
  background-repeat: no-repeat;
}