#tree {
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 200px;
    height: 200px;
    background-image: url('imgs/Tree.png');
    background-size: contain;
    background-repeat: no-repeat;
  }