#poop {
    position: absolute;
    bottom: 60%;
    right: 60%;
    width: 30px;
    height: 30px;
    background-image: url('imgs/PoopGame.png');
    background-size: contain;
    background-repeat: no-repeat;
  }