@property --bgY { 
    syntax: '<length>';
    inherits: true;
    initial-value: 0;
  }
  
  @property --spriteSheetW { 
    syntax: '<length>';
    inherits: true;
    initial-value: 0;
  }
  
  .dog {
    --bgY: 0;
    --spriteSheetW: 656px;
    position: absolute;
    left: 80%;
    top: 50%;
    width: 82px; /*164px*/
    height: 68px; /*136px*/
    background-image: url('imgs/DarkDogspriteSheet.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 656px 612px; 
    animation: movement 0.8s steps(8) infinite;
  }
  
  .dog.walk-up-right { --bgY: 0;}
  .dog.walk-up-left { --bgY: -68px;}
  .dog.walk-up { --bgY: -136px;}
  .dog.walk-right { --bgY: -204px;}
  .dog.walk-left { --bgY: -272px;}
  .dog.walk-down-right { --bgY: -340px;}
  .dog.walk-down-left { --bgY: -408px;}
  .dog.walk-down { --bgY: -476px;}
  .dog.sit { --bgY: -544px;}
  
  @keyframes movement {
    from { background-position: 0 var(--bgY)}
    to   { background-position: calc(var(--spriteSheetW) * -1) var(--bgY) }
  }