/* Reset a základné nastavenia */
.game-screen {
  width: 100dvw;
  height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: column;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.game-wrap {
  flex: 1 1 100%;
  position: relative;
}

/* Herná obrazovka */
#game-area {
  position: absolute;
  inset: 0;
  background-image: url('imgs/backround_small.png'); 
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.gameGhost {
  position: absolute !important;
  inset: 0;
}

.gameGhost .ghost {
  background-color: #ffffff40;
}

.gameGhost .react-joystick-controller {
  opacity: 0.7;
}