/* Reset a základné nastavenia */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Arial', sans-serif;
  color: #000; /* Čierny text */
}

.game-screen {
  width: 100dvw;
  height: 100dvh;
  position: relative;

}
/* Herná obrazovka */
#game-area {
  position: absolute;
  inset: 0;
  width: 100dvw;
  height: 100dvh;
  background-image: url('imgs/backround_small.png'); 
  background-size: cover;
  background-position: center;
  overflow: hidden;
}