/* Reset a základné nastavenia */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Arial', sans-serif;
  color: #000; /* Čierny text */
}

/* Herná obrazovka */
#game-screen {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  background-image: url('imgs/backgroundGame.png'); 
  background-size: cover;
  background-position: center;
  overflow: hidden;
}