 .start-screen {
    margin: 0;
    background-color: #64ac1c;
    font-family: 'Comic Sans MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .start-screen-content {
    width: 300px;
    height: 600px;
    text-align: center;
    color: #000;
  }

  .visually-hidden {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

 .start-screen__title-img {
    width: 100%;
    max-width: 250px;
    height: auto;
  }

  .start-screen__info-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;
  }

  .start-screen__info-icon {
    width: 40px;
    height: 40px;
  }

  .start-screen__language-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;
  }

   .start-screen__dog {
    margin: 50px auto;
    width: 164px;
    height: 136px;
    background-image: url('imgs/idle.png');
    background-repeat: no-repeat;
    background-position-x: 0;
    animation: dogIdle 1s steps(8) infinite;
  }

  @keyframes dogIdle {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: -1312px; /* 164px * 8 frames */
    }
  }

  .start-screen__poop-btn {
    background: none;
    border: none;
    cursor: pointer;
  }

  .start-screen__poop-icon {
    width: 25px;
    height: 25px;
    animation: poopBounce 1s infinite alternate;
  }

  .start-screen__btn {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 12px;
    padding: 0.8rem 2rem;
    color: white;
    font-size: 1.2rem;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .start-screen__btn:hover {
    background-color: rgba(255, 255, 255, 0.25);
    transform: scale(1.05);
  }
