.gameover-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh; 
  background-color: #64ac1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  color: white;
  font-family: 'Murecho', sans-serif;
  z-index: 9999;
  text-align: center;
  overflow-y: scroll;
}

.gameover-screen__educative {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  
}

.gameover-screen__educative img {
  width: 100%;
  height: auto;
  display: block;
}

.gameover-screen__title {
  font-size: 3rem;
  margin: 0;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  animation: pop-in 0.4s ease-out;
}

@keyframes pop-in {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


.gameover-screen__score {
  font-size: 1.8rem;
  margin: 0;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  
}

#final-score {
  font-weight: bold;
  margin-left: 0.5rem;
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  margin-top: 1.5rem;
}

.final-score__icon {
  width: 30px;
  height: 30px;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.gameover-screen__message {
  font-size: 1.5rem;
  max-width: 80%;
}

@media (max-height: 700px) {
  .gameover-screen__message {
    display: none; 
  }
}

.gameover-screen__btn {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 12px;
  padding: 0.8rem 2rem;
  color: white;
  font-size: 1.2rem;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease;
}

.gameover-screen__btn:hover {
  background-color: rgba(255, 255, 255, 0.25);
  transform: scale(1.05);
}

.gameover-screen__btn {
  order: 4; /* vyššie číslo, bude nižšie */
}

.gameover-screen__message {
  order: 5;
}

@media (max-height: 600px) {
  .gameover-screen__btn {
    order: 3; /* posunie sa hore */
  }

  .gameover-screen__message {
    order: 4;
  }
}




