
@property --bgY { 
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}

@property --spriteSheetW { 
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}

.player {
  --bgY: 0;
  --spriteSheetW: 363px; /*544*/
  position: absolute;
  left: 50%;
  top: 50%;
  width: 45px; /* 68 uprav podľa veľkosti jedného frame */
  height: 84px; /*126*/
  background-image: url('imgs/player-sprite-sheet.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 363px 1354px; /* necháme to ako originál */
  animation: movement 0.8s steps(8) infinite;
}

.player.walk-down { --bgY: 0; }
.player.walk-left { --bgY: calc(1 * -84px); }
.player.walk-down-left { --bgY: calc(2 * -84px); }
.player.walk-up-left { --bgY: calc(3 * -84px); }
.player.walk-right { --bgY: calc(4 * -84px); }
.player.walk-down-right { --bgY: calc(5 * -84px); }
.player.walk-up-right { --bgY: calc(6 * -84px); }
.player.walk-up { --bgY: calc(7 * -84px); }
.player.idle-down { --bgY: calc(8 * -84px); }
.player.idle-left { --bgY: calc(9 * -84px); }
.player.idle-down-left { --bgY: calc(10 * -84px); }
.player.idle-up-left { --bgY: calc(11 * -84px); }
.player.idle-right { --bgY: calc(12 * -84px); }
.player.idle-down-right { --bgY: calc(13 * -84px); }
.player.idle-up-right { --bgY: calc(14 * -84px); }
.player.idle-up { --bgY: calc(15 * -84px); }

@keyframes movement {
  from { background-position: 0 var(--bgY)}
  to   { background-position: calc(var(--spriteSheetW) * -1) var(--bgY) }
} 